# IDE and System files
.vscode/
.idea/
.DS_Store
.obsidian/

server/static/
frontend/.env.production
frontend/.env.development
server/script
# Environment files
.env
db/
script

# Dependencies
node_modules/
**/node_modules/