# IDE and System files
.vscode/
.idea/
.DS_Store
.obsidian/

server/static/
frontend/.env.production
frontend/.env.development
# Environment files
.env
db/
# Dependencies
node_modules/
**/node_modules/